<%= form_for @room_type do |f| %>

  <% if @room_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@room_type.errors.count, "error") %> prohibited
        this room_type from being saved:
      </h2>
      <ul>
        <% @room_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :rtype %><br>
    <%= f.text_field :rtype %>
  </p>
  <p>
    <%= f.label :daily_rate %><br>
    <%= f.number_field :daily_rate %>
  </p>
  <p>
    <%= f.label :security_deposit %><br>
    <%= f.number_field :security_deposit %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
